
$font-family-base: Arial, Helvetica, sans-serif;
$bg-light: #f7f9fc;
$text-dark: #2e2e48;
$border-light: #e0e0e0;

// primary
$primary-purple: #516cf7;
$primary-purple-light: #a478e8;

// for layout
$sidebar-width: 350px;

// gradients
$gradient-primary: linear-gradient(90deg, $primary-purple-light, $primary-purple);
